*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: pink;
    width:400px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}
img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    color: grey;
    margin-bottom: 10px;
}
.details p a{
    text-decoration: none;
    font-size: 14px;
color: black;
}
.button a{
    text-decoration: none;
    background-color: blue;
    color:white;
    padding: 5px;
    border-radius: 5px;
    margin: 7px;
}
.button{
    margin: 30px;


}
.button a:hover{
    background-color: chartreuse;
}